{% extends 'meals/base.html' %} {% load static %}
{% block content %}
<br><br><br>
    <h1>Meal View:</h1>
    <div class="col text-center mb-5">
        <h1>Get a Different Meal!</h1><a class="btn btn-primary" role="button" href="/meals">Get a Meal</a></div>
    <img src="{{ picture }}" alt="My image">

    <h1>{{ name }}</h1>
    <h2>{{ instructions }}</h2>
    <h1>Ingredients: {{ ing1 }}, {{ ing2 }}, {{ ing3 }}, {{ ing4 }}, {{ ing5 }}, {{ ing6 }}, {{ ing7 }},
        {{ ing8 }}, {{ ing9 }}, {{ ing10 }}, {{ ing11 }}, {{ ing12 }}, {{ ing13 }}, {{ ing14 }}, {{ ing15 }},
        {{ ing16 }}, {{ ing17 }}, {{ ing18 }}, {{ ing19 }}, {{ ing20 }},
    </h1>
    
{% endblock %}